{{#each folders as |folder|}}
<tr>
  <td class="col-xs-2" align="center" data-id="">
    <a class="btn btn-default open-folder" data-id=""><em class="fa fa-folder-open-o"></em></a>
  </td>
  {{#if file.folder}}
  <td class="col-xs-2" data-type="" data-id="">{{file.folder}}</td>
  {{/if}}
</tr>
{{/each}}
