$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.files-list-container {
  display: none;
}
.file-uploader {
  padding-bottom: 10px;
}
.modal-buttons {
  padding-bottom: 20px;
}
.below-modal-title {
  padding-top: 10px;
=======
.folder-list-container {
  display: none;
}
