$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#change-password-btn {
  display: none;
}

#sign-out-btn {
  display: none;
}

.files-list-container {
  display: none;

},

.folder-list-container {
  display: none;

},

.file-uploader {
  padding-bottom: 10px;

},

.modal-buttons {
  padding-bottom: 20px;

},

.below-modal-title {
  padding-top: 10px;

}
